<h1>Gospel</h1>

<p>At each Now What? Movement gathering we will share the story of Jesus Christ.  You will have the opportunity to bring a friend who does not know Jesus as their personal Savior.  On 5.06.11 Matt Papa will share the story of Jesus in a way that challenges students to recognize their need for a Savior.  We hope that you will bring a friend with you.  After all... it’s FREE.</p>

<p>Are you ready to start a movement?</p>