<h1>Missions</h1>

<h3>The Now What? Movement exist to serve in the following ways:</h3>

<p>1)  To create avenues of ministry by assembling small groups of students with like minded passions.</p>
 
<p>2)  To support 3 local ministries with time, talent, & treasures.</p>
 
<p><strong>Time</strong> - To give time for organizations to speak to the students of Hall county.</p>
<p><strong>Talent</strong> – Plugging in students to help assist the partner ministries.</p>
<p><strong>Treasures</strong> – All funds left over from DNOW 2011 and NOW WHAT? along with a love offering will be donated equally among each partner ministry, and challenge the students to give money consistently.</p>

<h3>Partner Ministries</h3>

<p>Gainesville / Hall County FCA (<a href="http://ghcfca.org">http://ghcfca.org</a>)</p>

<p>Helping Hands Foreign Missions (<a href="http://helpinghandsmissions.org">http://helpinghandsmissions.org</a>)</p>

<p>Net India Ministries (<a href="http:/www.netindia4him.net">http://www.netindia4him.net</a>)</p>