<h1>Worship</h1>

<p>You really don’t want to miss what will be one of the greatest nights in Hall County.  What is better than a gathering of teenagers and adults singing to our creator?  With over 750 students who attended D-Now 2011 “RENOWN”, we hope to see even more students come for a night of worship.  Best of all... it’s FREE. </p>

<p>Are you ready to start a movement?</p>

<p>Special Guest: Matt Papa (<a href="http://mattpapa.com">http://mattpapa.com</a>)</p>
<img name="worship_artist" src="/images/mattpapa.jpg" height="128" />